@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

body
  font-size: 1.6rem
  font-family: "Roboto", sans-serif
  padding: 2rem